@import url('https://fonts.googleapis.com/css?family=Chivo');
.font {
  font-family: 'Chivo', sans-serif;
}
.card{
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}

.buttons {
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 30px;
}
/* http://i67.tinypic.com/2cijokz.png */
/* https://images.unsplash.com/photo-1539786774582-0707555f1f72?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=584a0c57ca1a534647137dfcc191a995&auto=format&fit=crop&w=967&q=80 */
.background{
  z-index: -5;
  height: 100vh;
  width: 100vw;
  background-image: url(http://i67.tinypic.com/2cijokz.png );
  /* -webkit-filter: blur(1px); */
  /* filter: blur(1px); */
  
  position: absolute;
}
.overlay {
  background-color:rgba(100, 96, 170, 1);
  /* z-index: -5; */
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
}

/* nav.navbar.navbar-light.bg-light.justify-content-between {
  display: none;
} */

.btn-primary {
  background-color: #400095 !important;
  border-color: #400095 !important;
}

.btn-primary:hover {
  background-color: #320072 !important;
  border-color: #320072 !important;
}

.btn-info {
  background-color: #66cedb !important;
  border-color: #66cedb !important;
}

.btn-info:hover {
  background-color: #52a2ac !important;
  border-color: #52a2ac !important;
}

.logo {
  width: 33.5rem;
  padding: 25px;
}

.landing_page button.btn-primary,
.landing_page button.btn-info {
  padding: 17px 0;
}

label {
  color: #400095;
}
