@import url('https://fonts.googleapis.com/css?family=Chivo');
.font {
  font-family: 'Chivo', sans-serif;
}
.containerL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
}
.buttons {
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 30px;
}

.background {
  opacity: 0.2;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1534834128485-00d164a7cf47?ixlib=rb-0.3.5…EyMDd9&s=e41d164…&auto=format&fit=crop&w=3300&q=80);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* nav.navbar.navbar-light.bg-light.justify-content-between {
  display: none;
} */

.btn-primary {
  background-color: #400095 !important;
  border-color: #400095 !important;
}

.btn-primary:hover {
  background-color: #320072 !important;
  border-color: #320072 !important;
}

.btn-info {
  background-color: #66cedb !important;
  border-color: #66cedb !important;
}

.btn-info:hover {
  background-color: #52a2ac !important;
  border-color: #52a2ac !important;
}

.logo {
  width: 33.5rem;
}

.landing_page button.btn-primary,
.landing_page button.btn-info {
  padding: 17px 0;
}

label {
  color: #400095;
}
