@import url('https://fonts.googleapis.com/css?family=Chivo');
.font {
  font-family: 'Chivo', sans-serif;
}
.containerL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
}
.buttons {
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 30px;
}

html {
  /* background-image: url('https://images.unsplash.com/photo-1534834128485-00d164a7cf47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e41d164b42d0011da665fa8aa23ecdb4&auto=format&fit=crop&w=3300&q=80'); */
}
