.container{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card{
    margin: 0 auto;
    margin-top:20px;
}

.background1{
    background-color: rgb(91, 87, 155);
}
/*  #6460AA */

h1{
    margin-left: 17px;
}