.hero {
  background-color: grey;
}

.caro {
  /* //opacity: 0.5; */
  background-color: rgba(128, 128, 128, 0.15);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper div {
  display: inline-block;
}

li {
  margin: 10 3rem;
}
img.card-img {
  width: 19rem;
}

.MuiPaper-root-99.MuiPaper-elevation1-102.MuiPaper-rounded-100.MuiCard-root-98 {
  width: 85% !important;
}

.card:hover .cards-text {
  opacity: 20;
  top: 0;
}

img {
  width: 20%;
}

.cards-text {
  position: absolute;
  top: 20px;
  opacity: 0;
  transition: all 0.5s;
}

/* .top{
    top: 20px;
} */

.MuiDialog-paperWidthSm-140 {
  max-width: 97vw !important;
  max-height: 100vh !important;
  height: 96vh;
  width: 92vw;
}

img.img-fluid {
  width: 400px;
}

.h2_title h2 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}

.row.half_row {
  margin-bottom: 3rem;
}

p.desc_p {
  font-size: 1.4rem;
  padding: 0 63px 0 0;
}

ul.modal_btns,
ul.modal_btns li {
  display: inline-block;
}

ul.modal_btns li:nth-child(1) {
  margin-right: 3rem;
}

ul.modal_btns button.btn {
  width: 180px;
  height: 50px;
}

.MuiPaper-root-99.MuiPaper-elevation1-102.MuiPaper-rounded-100.MuiCard-root-98.show_card_modal {
  width: 100% !important;
  box-shadow: none;
}

.MuiCardContent-root-201 {
  padding: 0;
}

.col-sm-10.offset-sm-1.comments {
  height: 299px;
  overflow-y: auto;
  max-height: 150px;
}

.col-sm-10.offset-sm-1.comments
  .MuiPaper-root-99.MuiPaper-elevation1-102.MuiPaper-rounded-100.MuiCard-root-98 {
  width: 100% !important;
  box-shadow: none;
}
